.container{
  display : flex;
  flex-direction : column;
  justify-content : center;
  padding-top : 70px;

}

.container_recommend
{
  width:320px;
  border : 1px solid gray;
  position : fixed;
}

.container_contents
{
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
  border: 1px solid #cacaca;
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom : 50px;
  margin-left: 320px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.container_contents:hover {
  box-shadow: 7px 7px 10px 0px rgba(29, 29, 31, 0.45);
  transform: translatey(-5px);
}

* {
  box-sizing: border-box;
}

body{
  background-color : #fafafa;
}

.fa-heart {
  cursor: pointer;
}

.fa-heart:active {
  transform: scale(0.5);
}

.fas.fa-heart {
  color: #ff0000;
}
