.header{
  width:100%;
  height:50px;

  display:flex;
  justify-content : space-around;
  align-items : center;
  position:fixed;
  background-color : white;
  top : 0;
}

.header_enter
{
  text-align : center;
}

.header_search
{
  width:200px;
  height : 30px;
  padding:7px;
  text-align : center;

  border-radius : 2px;
  background-color = gray;
}

.header_search:focus {
  text-align: left;
}


#footer
{
  font-size : 5px;
    text-decoration : none;
    position : fixed;
}

#footer-menu {
  font-size: 9px;
  color: gray;
  float: none;
  padding-left: 1px;
  text-decoration : none;
}

  #footer-copyright {
    font-size: 12px;
    color: gray;
    padding-right: 10px;
    float :none;
  }
