@media(max-width:1200px) {
  .container__recommend {
    display : none;
  }
}
.container__recommend
{
  position : fixed;
  top : 100px;
  right : 200px;
}

.recommend__user {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.recommend__user i {
  font-size: 60px;
  margin-right: 10px;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__nick {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.info__name {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.5;
}

.list-circle {
  font-size: 35px;
  margin-right: 10px;
}

.recommend__for-you {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.for-you__text {
  opacity: 0.5;
}

.for-you__see {
  font-size: 12px;
}

.lists__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.list__linfo {
  display: flex;
  flex-direction: column;
}

.list__follow {
  color: #0395f6;
  font-size: 13px;
  font-weight: 600;
}

.linfo__nick {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.linfo__name {
  font-size: 12px;
  font-weight: 200;
  opacity: 0.5;
}
